{{ 'section-footer-v2.css' | asset_url | stylesheet_tag }}


<div class="footer color-{{ section.settings.color_scheme }}">
  {%- liquid
    assign has_social_icons = true
    if settings.social_facebook_link == blank and settings.social_instagram_link == blank and settings.social_youtube_link == blank and settings.social_tiktok_link == blank and settings.social_twitter_link == blank and settings.social_pinterest_link == blank and settings.social_snapchat_link == blank and settings.social_tumblr_link == blank and settings.social_vimeo_link == blank
      assign has_social_icons = false
    endif

    if settings.brand_image == blank and settings.brand_headline == blank and settings.brand_description == blank
      assign brand_empty = true
    endif
  -%}
  <di class="footer-container">
    {% assign menu_started = false %}
    {% assign menu_closed = false %}

    {% for block in section.blocks %}
      {% if block.type == 'footer_menu' and menu_started == false %}
        <div class="footer__menu-wrapper">
          {% assign menu_started = true %}
      {% endif %}

      {% if block.type != 'footer_menu' and footer_started == true and footer_closed == false %}

        </div>
        {% assign footer_closed = true %}
      {% endif %}
      {% case block.type %}
        {% when 'brand_information' %}
          <div class="footer__brand-info">
            {% if settings.brand_image != blank %}
              {% assign brand_image_height = settings.brand_image_width | divided_by: settings.brand_image.aspect_ratio %}
              <div class="footer-block__image-wrapper" style="max-width: min(100%, {{ settings.brand_image_width }}px);">
                {{
                  settings.brand_image | image_url: width: 1100 | image_tag: loading: 'lazy', widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100', height: brand_image_height, width: settings.brand_image_width
                }}
              </div>
            {%- endif -%}
            {% if block.settings.payment_img %}
              <div class="footer__payment-wrapper">
                <img src="{{ block.settings.payment_img |  img_url: 'medium' }}" class="footer__payment-img">
              </div>
            {% endif %}
            {%- if settings.brand_headline != blank -%}
              <h2 class="footer__info-heading">{{ settings.brand_headline }}</h2>
            {%- endif -%}
            {%- if settings.brand_description != blank -%}
              <div class="footer__info-description description-desktop">{{ settings.brand_description }}</div>
            {%- endif -%}
          </div>
        {% when 'footer_menu' %}
          {% for link in block.settings.menu.links %}
            <div class="footer__menu-item-wrapper">
              <h2 class="footer__menu-item poppins-bold">{{ link.title }}</h2>
              <div class="footer__menu-child-item-wrapper">
                {% for child in link.links %}
                  <a href="{{ child.url }}">{{ child.title }}</a>
                {% endfor %}
              </div>
            </div>
          {% endfor %}
      {% endcase %}
    {% endfor %}

  </div>
</div>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "color_scheme",
        "id": "color_scheme",
        "label": "t:sections.all.colors.label",
        "default": "scheme-1"
      }
    ],
    "blocks": [
      {
        "type": "brand_information",
        "name": "t:sections.footer.blocks.brand_information.name",
        "settings": [
          {
            "type": "paragraph",
            "content": "t:sections.footer.blocks.brand_information.settings.paragraph.content"
          },
          {
            "type": "header",
            "content": "t:sections.footer.blocks.brand_information.settings.header__1.content"
          },
          {
            "type": "checkbox",
            "id": "show_social",
            "default": true,
            "label": "t:sections.footer.blocks.brand_information.settings.show_social.label",
            "info": "t:sections.footer.blocks.brand_information.settings.show_social.info"
          },
          {
            "type": "text",
            "id": "copyright_text_block",
            "label": "Copyright Info"
          }, {
            "type": "image_picker",
            "id": "payment_img",
            "label": "Payment Image"
          }

        ]
      }, {
        "type": "footer_menu",
        "name": "Footer Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }
        ]
      }
    ]
  }
{% endschema %}